@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

*{
  margin: 0;
  font-family: 'Quicksand', 'Arial', sans-serif;
  color: #222;
}

html, body {
  margin: 0;
  height: 100%;
}

.container{
  max-width: 768px;
  margin: 0 auto;
}